<p><%= link_to "New User", new_user_path %></p>

<div id="grid">
	<div id="pager"><ul class="pages"></ul></div>
	<ul id="users" class='grid clearfix'></ul>
</div>

<script id="users_tmpl" type="text/x-jquery-tmpl">
	<li id='user_${id}'>
		<div class="content">
			<div class="img">
				<img src="${url_thumb}" alt="">
			</div>
			<div class="">
				<strong>${name}</strong><br>
				<a href="/users/${id}">查看</a> |
				<a href="/users/${id}/edit">编辑</a> |
				<a href="#" rel='/users/${id}'>删除</a>
			</div>
		</div>
	</li>
</script>

